<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{ISO8601} [%t] %-5level %-15logger{1} %m%n</Pattern>
			</PatternLayout>
		</Console>

		<File name="defaultFileAppender">
			<fileName>logs/app.log</fileName>
			<append>false</append>
			<PatternLayout>
				<Pattern>%d{ISO8601} [%t] %-5level %-15logger{1} %m%n</Pattern>
			</PatternLayout>
		</File>


		<File name="personFileAppender">
			<fileName>logs/person.log</fileName>
			<append>false</append>
			<PatternLayout>
				<Pattern>%d{ISO8601} [%t] %-5level %-15logger{1} %m%n</Pattern>
			</PatternLayout>
		</File>

	</Appenders>
	<Loggers>

		<logger name="com.fab.java.concrete.person" level="info"
			additivity="false">
			<AppenderRef ref="personFileAppender" />
		</logger>

		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="defaultFileAppender" />
		</Root>
	</Loggers>
</Configuration>